# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Node.js
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log